.contenedor-testimonio {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e3e3;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

 .imagen-testimonio {
    height: 100%;
    width: auto;
    background-color: blue;
 }